* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    max-width: 100vw;
}

.header {
    position: relative;
    background-image: url('./images/bg-mobile-light.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 1.5rem;
    color: white;
    text-transform: uppercase;
    /* z-index: -1; */
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    padding: 1rem 3rem;
    border: none;
    outline: none;
    border-radius: 7px;
}
.todo-input {
    width: 100%;
    margin: 2rem auto;
}


.container {
    /* padding: 1rem 0rem; */
    border-radius: 7px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    margin-top: -25px;
 
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
}


.todo-list {
    min-height: 30vh;
    box-shadow: 0 0 5px 10px rgb(0, 0, 0, 0.05);
}

.todo-list__item {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 20px;
    border-bottom: 2px solid rgb(0, 0, 0, 0.1);
    background-color: white;
}
.todo-list__item:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}


.todo-item__check:checked + .todo-text {
    opacity: .2;
    text-decoration: line-through;
}
.todo-text {
    margin-right: auto;
    list-style: none;
}




.todo-list-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
}
.states {
    position: relative;
    /* bottom: -80px; */
    padding: 1rem 3rem;
    border-radius: 7px;
    background-color:white;
    box-shadow: 0 0 5px 10px rgb(0, 0, 0, 0.05);
    display: flex;
    
    gap: 2rem;
    justify-content: center;
}

.foot {
    text-align: center;
    margin: 2rem auto;
}